@charset "utf-8";

/* common */
body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #bca8d9;
}

a {
    text-decoration: none;
    color: #FFFF00;
}

a:hover {
    text-decoration: underline;
}



/* Top/title */
.top {
	background-color: #bca8d9;
	width: 100%;
	height: 700px;
}

.top_title {
	color: #bca8d9;
	margin-top: 75px;
	text-align: center;
	background-color: #fff;
}

.banner {
	display: block;
	margin: auto;
	max-width: 50%;
}
